@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1675277757234') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-bianji:before {
  content: "\e8ac";
}

.icon-anquan:before {
  content: "\e8ad";
}

.icon-chuangzuo:before {
  content: "\e8ae";
}

.icon-chenggong:before {
  content: "\e8af";
}

.icon-dingwei:before {
  content: "\e8b0";
}

.icon-dingdan:before {
  content: "\e8b1";
}

.icon-faxian:before {
  content: "\e8b2";
}

.icon-fuzhi:before {
  content: "\e8b3";
}

.icon-fenxiang:before {
  content: "\e8b4";
}

.icon-huatifuhao:before {
  content: "\e8b5";
}

.icon-huiyuan:before {
  content: "\e8b6";
}

.icon-jianshao:before {
  content: "\e8b7";
}

.icon-nan:before {
  content: "\e8b8";
}

.icon-nv:before {
  content: "\e8b9";
}

.icon-saoyisao:before {
  content: "\e8ba";
}

.icon-rili:before {
  content: "\e8bb";
}

.icon-pinglun:before {
  content: "\e8bc";
}

.icon-shandian:before {
  content: "\e8bd";
}

.icon-shanchu:before {
  content: "\e8be";
}

.icon-shezhi:before {
  content: "\e8bf";
}

.icon-shequ:before {
  content: "\e8c0";
}

.icon-shibai:before {
  content: "\e8c1";
}

.icon-shoucang:before {
  content: "\e8c2";
}

.icon-shouye:before {
  content: "\e8c3";
}

.icon-shuaxin:before {
  content: "\e8c4";
}

.icon-tupian:before {
  content: "\e8c5";
}

.icon-weixuanzhong:before {
  content: "\e8c6";
}

.icon-wodeguanzhu:before {
  content: "\e8c7";
}

.icon-xiaoxizhongxin:before {
  content: "\e8c8";
}

.icon-yanjing:before {
  content: "\e8c9";
}

.icon-zengjia:before {
  content: "\e8ca";
}

.icon-arrow-right:before {
  content: "\e743";
}

.icon-arrow-left:before {
  content: "\e744";
}

.icon-all:before {
  content: "\e745";
}

.icon-cart-full:before {
  content: "\e746";
}

.icon-map:before {
  content: "\e758";
}

.icon-set:before {
  content: "\e76c";
}

.icon-sport:before {
  content: "\e76e";
}

.icon-arrow-down:before {
  content: "\e665";
}

